

.grid{
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    mix-blend-mode: difference;
}

.grid .column{
    width: 5vw;
    height: 100%;
}

.column .block{
    width: 100%;
    height: 5vw;
}

.floatdiv{
    position: absolute;
    left: 48%;
    z-index: 1000;
}

@media screen and (max-width: 768px) {
    .grid {
      
        display: none; /* Adjust layout for smaller screens */
    }

    .grid .column {
        display: none;
    }

    .column .block {
      display: none;
    }

    .floatdiv {
        z-index: 1000;
        position: static; /* Change position as needed */
    }
}