@tailwind base;
@tailwind components;
@tailwind utilities;
  

/* BadgeMarquee.css */
.marquee-container {
    width: 100%;
    overflow: hidden;
  }
  
  .marquee-content {
    display: flex;
    animation: marqueeAnimation 10s linear infinite;
  }
  
  @keyframes marqueeAnimation {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
  
  /* Ensure the images align seamlessly */
  .marquee-content > div {
    flex-shrink: 0;
    margin-right: 2%; /* Adjust this margin as needed */
  }
  


  /* Heading */
  .cc-gradient-green-text{
    background: linear-gradient(90deg, #24FF00 28.13%, rgba(29, 10, 245, 0.92) 101.95%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.bg-gradient-for-img-badgelayer {
    background: radial-gradient(628.92% 111.75% at 21.74% 23.19%, rgba(0, 0, 0, 0.40) 0%, rgba(234, 234, 234, 0.40) 100%), url('../public/mern-dev-here-badge.png') lightgray;
    background-size: cover;
    background-repeat: no-repeat;
  }
  

  .footer-gradient-border {
    
    border-top: 1px solid;
    border-image: linear-gradient(166deg, #FFF 10.11%, #09FFFF 80%, black 90%) 1;
    padding: 10px; /* Adjust padding if needed */
  }
  
  
  